/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
  display: table;
  position: absolute;
  height: 100%;
  width: 100%;
}

.jumbotron {
   display: table-cell;
   vertical-align: middle;
   background: url("https://pp.vk.me/c638324/v638324462/7aac/kk82kpEg5Fc.jpg") no-repeat center center;
   background-size: cover;
}


















